<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .outer {
          display:flex;
          padding: 3px;
        }
        .outer > div {
          margin:2px;
        }
    </style>
    <meta charset="UTF-8"/>
    <title>Recipe Home</title>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}" ></script>
</head>
<body>


<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1>My recipes!</h1>
                </div>
                <div class="panel-body">

                    <div class="table-responsive" th:if="${not #lists.isEmpty(recipes)}">
                        <table class="table table-hover ">
                            <thead class="thead-inverse">
                            <tr>
                                <th>ID</th>
                                <th>Description</th>
                                <th>View</th>
                            </tr>
                            </thead>
                            <tr th:each="recipe : ${recipes}">
                                <!-- /*@thymesVar id="recipe" type="src.recipe.recipedemo.domain.Recipe" -->
                                <td th:text="${recipe.id}">123</td>
                                <td th:text="${recipe.description}">Awesome mushroom soup
<!--                                    <div style="width: 100%">-->
<!--                                        <h3 th:text="${recipe.description}">Awesome mushroom soup</h3>-->
<!--                                        <div class="outer">-->
<!--                                            <div class="gallery">-->
<!--                                                <img src="../testImages/recipeIcon.png" width="200" height="200">-->
<!--                                            </div>-->
<!--                                            <div>-->
<!--                                                <h5 th:text="${'Difficulty: ' + recipe.difficulty}">Difficulty: SIMPLE</h5>-->
<!--                                                <h5 th:text="${'Preparation time: ' + recipe.prepTime + ' minutes'}">Preparation time: 15 minutes</h5>-->
<!--                                                <h5 th:text="${'Cooking time: ' + recipe.cookTime + ' minutes'}">Cooking time: 15 minutes</h5>-->
<!--                                                <h5 th:text="${'Serving: ' + recipe.servings}"> Serving: 4</h5>-->
<!--                                                <h5 th:text="${'Source: ' + recipe.source}">Source: CookBook</h5>-->
<!--                                                <h5 th:text="${'URL: ' + recipe.url}">URL: some.com</h5>-->
<!--                                                <h5>Categories: </h5>-->
<!--                                                <div th:each="category : ${recipe.categories}">-->
<!--                                                    <p th:text="${category.description}">Some category</p>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->

<!--                                        <h5>Ingredients: </h5>-->
<!--                                        <div th:each="ingredient : ${recipe.ingredients}">-->
<!--                                            <p th:text="${ingredient.amount + ' ' + ingredient.uom.description + ' ' + ingredient.description}">1 uom of some ingredient</p>-->
<!--                                        </div>-->

<!--                                        <h5>Directions:</h5>-->
<!--                                        <p th:text="${recipe.directions}">Some directions</p>-->

<!--                                        <h5>Notes</h5>-->
<!--                                        <p th:text="${recipe.notes.recipeNotes}">Some notes</p>-->
<!--                                    </div>-->
                                </td>
                                <td><a href="#" th:href="@{'/recipe/show/' + ${recipe.id}}">View</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>